
.layout-menu
	//// color
	color: color-menu-text

	//// position
	margin-top:20px
	//margin-left:40px

	@media screen and (max-width: trigger-width)
		margin: 0 auto
		width: 200px

.menu-list
	margin: 0 auto
	width: 40%
	//// debug
	//border: 1px solid red

.box-menu-item
	margin-top:5px

	//// debug
	//border: 1px solid red

	a
		color: white

	a:hover
		color: color-link-menu-hover


