
.layout-content
	margin-left: sidebar-width

	//debug
	//border: 1px solid green

	@media screen and (max-width: trigger-width)
		margin: 0 auto


.panel-content
	margin-top: 40px
	//debug
	//border: 1px solid green
